{% extends '../Base/Base.html' %}
{% load static %}
{% block title %} Profile Page{% endblock %}
{% block templates %}
{% include 'C:\Users\User\Desktop\Projects\Blog-0x01\blogApp\templates\blogApp\Base.html'  %}

<style>


    /* font-family: 'Anton', sans-serif;..other heading
  font-family: 'Oswald', sans-serif;.....logo
  font-family: 'Roboto', sans-serif;....Paragraphs
  font-family: 'Teko', sans-serif;....Headings */

  @import url('https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@700&family=Roboto:wght@300&family=Teko:wght@700&display=swap');

            
:root{
--FS-Paragraph-xm: .5rem;
--FS-Paragraph-md: .6rem;
--FS-Paragraph-md2: .7rem;
--FS-Paragraph-bg: .8rem;
--FS-Paragraph-bg2: .9rem;
--FS-Heading-xm: .5rem;
--FS-Heading-md: .6rem;
--FS-Heading-bg: .7rem;
--FS-Heading-md2: .8rem;
--FS-Heading-bg2: .9rem;
--FS-Paragraph: 1rem;
--FS-Paragraph2: 1.1rem;
--FS-Paragraph3: 1.2rem;
--FS-Paragraph4: 1.3rem;
--FS-Heading1:clamp(.4rem,  1rem, 1.5rem);
--FS-Small-Heading:1.1rem;
--FS-Small-Heading2:1.2rem;
--FS-Small-Heading3:1.3rem;
--FS-Small-Heading4:1.4rem;
--FS-Heading2: 1.5rem;
--FS-Heading3: 1.7rem;
--FS-Heading4: 2rem;
--FS-Heading5: 2.5rem;
}

   .Banner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 4em 0 3.4em 0 ;
   }

   .Banner h1{
    font-family: 'Teko', sans-serif;
    font-size: var(--FS-Heading2);
    text-transform: none;
    background-color: #000;
    color: #fff;
    padding: .3em 1em;
    border-radius: .1em;
   }

   .Banner h1 span{
      text-transform: uppercase;
   }

   .User_Information{
      display: grid;
      grid-template-columns:repeat(4, 1fr);
      gap: 1rem;
      justify-content: center;
      width: 100%;
      height: 45vh;
      margin: .5em 0 6.8em 0;
   }

   .User_Information .User_Image{
      grid-column-start: 1;
      grid-column-end: 2;
      width: 90%;
      margin: 0 auto;
      border-radius: .2em ;

   }

   .User_Image .Image{
      width: 100%;
      height: 40vh;
      border-radius: 50%;
      text-align: center;
      background-color: #000;
   }

   .User_Information .User_Data{
      display: flex;
      flex-direction: row;
      grid-column-start: 2;
      grid-column-end: 5;
      width: 98%;
      color: #fff;
      border-radius: .2em ;
   }

   .User_Data_Left{
      display: flex;
      flex-direction: column;
      width: 60%;
   }

   .label{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      font-family: 'Teko', sans-serif;
      font-size: var(--FS-Paragraph4);
      text-transform: capitalize; 
      margin: .3em ;
   }

   .label div{
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #000;
   }

   .label p{
      width: 22%;
      background-color: #000;
      padding: .1em .7em;
      border-radius: .15em; 
   }

   .label span{
      width: 50%;
      height: 5vh;
      background-color: #000;
      padding: .1em .7em;
      border-radius: .15em;
   }

   .User_Data_Right{
      width: 40%;
      border: .1em solid #000;
      border-radius: .2em;
   }

   .User_Data_Right div{
      width: 100%;
      background-color: #000;
      font-family: 'Teko', sans-serif;
      font-size:var(--FS-Heading2);
      text-transform: uppercase;
      text-align: center;
   }

   .User_Data_Right p{
      font-family: 'Roboto', sans-serif;
      font-size: var(--FS-Paragraph3);
      color: #000;
      padding: .2em .3em;
   }


</style>

     <div class="Banner">
        <h1> Welcome to your profile page, <span>{{user.username}}</span></h1>
     </div>

     <div class="User_Information">
         <div class="User_Image">
               <div class="Image">
                        <img src="{% static 'media/Profile.png' %}" alt="profile_image">
               </div>
         </div>

         <div class="User_Data">

               <div class="User_Data_Left">

                 <div class="label">
                     <div></div>
                     <p>User name</p>
                     <span></span>
                 </div>

                 <div class="label">
                     <div></div>
                     <p>Last name</p>
                     <span></span>
                 </div>

                 <div class="label">
                     <div></div>
                     <p>First name</p>
                     <span></span>
                 </div>

                 <div class="label">
                     <div></div>
                     <p>Email</p>
                     <span></span>
                 </div>

                 <div class="label">
                     <div></div>
                     <p>Age</p>
                     <span></span>
                 </div>

                 <div class="label">
                     <div></div>
                     <p>Date Joined</p>
                     <span></span>
                 </div>

                 <div class="label">
                     <div></div>
                     <p>Time Joined</p>
                     <span></span>
                 </div>
               </div>

               <div class="User_Data_Right">
                  <div>User Bio</div>
                  <p></p>
               </div>
         </div>
     </div>

     {% include 'C:\Users\User\Desktop\Projects\Blog-0x01\templates\Base\Footer.html'  %}
{% endblock %}