
<style>

    
    @import url('https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@700&family=Roboto:wght@300&family=Teko:wght@700&display=swap');
    
    :root{
    --FS-Paragraph-xm: .5rem;
    --FS-Paragraph-md: .6rem;
    --FS-Paragraph-md2: .7rem;
    --FS-Paragraph-bg: .8rem;
    --FS-Paragraph-bg2: .9rem;
    --FS-Heading-xm: .5rem;
    --FS-Heading-md: .6rem;
    --FS-Heading-bg: .7rem;
    --FS-Heading-md2: .8rem;
    --FS-Heading-bg2: .9rem;
    --FS-Paragraph: 1rem;
    --FS-Paragraph2: 1.1rem;
    --FS-Paragraph3: 1.2rem;
    --FS-Paragraph4: 1.3rem;
    --FS-Heading1:clamp(.4rem,  1rem, 1.5rem);
    --FS-Small-Heading:1.1rem;
    --FS-Small-Heading2:1.2rem;
    --FS-Small-Heading3:1.3rem;
    --FS-Small-Heading4:1.4rem;
    --FS-Heading2: 1.5rem;
    --FS-Heading3: 1.7rem;
    --FS-Heading4: 2rem;
    }
    
    
    *{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }
    
    
    </style>
    
    
    <div class="Footer">
    
        <div class="Footer-Wrapper">
    
            <div class="Footer-Top-Content">
                <a href="#">About Us</a>
                <a href="#">Contact Us</a>
                <a href="#">Terms</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Disclaimer</a>
            </div>
    
            <div class="Footer-Bottom-Content">
                <p>...Blog designed and developed by <span>Xhicko</span></p>
            </div>
        </div>
    
    </div> 