{% extends "blogApp/Base.html" %}
{% load static %}
{% block title %} Password Change Page{% endblock %}
{% block templates %}


<style>


    /* font-family: 'Anton', sans-serif;..other heading
  font-family: 'Oswald', sans-serif;.....logo
  font-family: 'Roboto', sans-serif;....Paragraphs
  font-family: 'Teko', sans-serif;....Headings */

  @import url('https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@700&family=Roboto:wght@300&family=Teko:wght@700&display=swap');

            
:root{
--FS-Paragraph-xm: .5rem;
--FS-Paragraph-md: .6rem;
--FS-Paragraph-md2: .7rem;
--FS-Paragraph-bg: .8rem;
--FS-Paragraph-bg2: .9rem;
--FS-Heading-xm: .5rem;
--FS-Heading-md: .6rem;
--FS-Heading-bg: .7rem;
--FS-Heading-md2: .8rem;
--FS-Heading-bg2: .9rem;
--FS-Paragraph: 1rem;
--FS-Paragraph2: 1.1rem;
--FS-Paragraph3: 1.2rem;
--FS-Paragraph4: 1.3rem;
--FS-Heading1:clamp(.4rem,  1rem, 1.5rem);
--FS-Small-Heading:1.1rem;
--FS-Small-Heading2:1.2rem;
--FS-Small-Heading3:1.3rem;
--FS-Small-Heading4:1.4rem;
--FS-Heading2: 1.5rem;
--FS-Heading3: 1.7rem;
--FS-Heading4: 2rem;
--FS-Heading5: 2.5rem;
}

.Wrapper{
  margin: 4em 0;
  position: relative;
}

.Back{
position: absolute;
top: 0;
margin: 0 1em ;
color: #fff;
}


/* Chnage the font size to normal documentation */
.Back a{
color: #fff;
font-size: 1.5rem;
}


.Form_Wrapper{
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 1em 0;
}

.Form_Wrapper h1{
text-transform: uppercase;
font-size: var(--FS-Heading5);
font-family: 'Teko', sans-serif;
margin: .5em 0;
color: #fff;
}

form{
display: flex;
flex-direction: column;
max-width: 600px;
width: 70%;
/* border: .1em solid #000; */
border-radius: .2em;
padding: .7em 2em;
}

form input{
padding: 1em ;
background: #fff;
margin: .5em 0;
border: .1em solid #000;
border-radius: .15em ;
font-family: 'Roboto', sans-serif;
font-size: var(--FS-Paragraph);
font-weight: 900;
position: relative;
width: 100%;
}

form input:focus{
outline:none;
background-color: #fff;
}

form.submitted input:invalid{
border-color: #ee0707;
}

form small{
display: block;
font-family: 'Roboto', sans-serif;
font-weight: 900;
}

::placeholder{
font-family: 'Teko', sans-serif;
font-weight: 900;
letter-spacing: 1px;
color: #000;
}

.pwd_flex{
display: flex;
flex-direction: row;
position: relative;
justify-content: center;
align-items: center;
}

.pwd_flex .Pwd{
width: 100%;
}

.pwd_flex .Show_Password{
width: 15%;
padding: .9em 0;;
position: absolute;
right: 1%;
background-color: transparent;
border: none;

}

.pwd_flex .Show_Password i{
font-size: 2rem;
color: #000;
cursor: pointer;
}


.btn{
margin: .7em 0;
padding: 1em ;
background-color: #000;
color: #fff;
margin: .5em 0;
border-radius: .2em ;
border: none;
font-family: 'Teko', sans-serif;
font-size: var(--FS-Paragraph);
text-transform: uppercase;
letter-spacing: 2px;
cursor: pointer;
transition: transform .5s ease;
}

.btn:hover{
transform: scale(103%, 103%);
}


.Error_Wrapper{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
background: #ee0707;
padding:.3em;
border-radius: .2em;
width: 40%;
margin: .5em auto;
}

.Error_Wrapper.remove{
  display: none;
}

.Error_Wrapper ul{
  list-style: none;
}

.Error_Wrapper li{
  font-family: 'Roboto', sans-serif;
  color: #030303;
  font-weight: 900;
  font-size: var(--FS-Paragraph);
}

.Error_Wrapper i{
  color: #030303;
  font-size: var(--FS-Paragraph);
  cursor: pointer;
}

.Password_Validation{
display: flex;
flex-direction: column;
width: 100%;
border-radius: .2em;
padding: .3em .5em;
transition: .5s ease-in-out;
}

.Password_Ban{
display: flex;
flex-direction: column;
width: 100%;
border-radius: .2em;
margin-bottom: .3em;
}


.Ban_Content,
.Validation_Content{
display: flex;
flex-direction: row;
align-items: center;
padding: .1em .5em;
}

.Validation_Content button{
background-color: transparent;
border: none;
}

.Validation_Content  i {
margin-right: 1em;
color: #ee0707;
font-size:1.1rem ;
transition: .5s ease-in-out;
}

.Validation_Content i .Marked{
color: #02fc24;
}

.Ban_Content i {
margin-right: 1em;
color: #ff5100;
}

.Ban_Content p{
font-family: 'Roboto', sans-serif;
text-transform: capitalize;
font-weight: 900;
color: #fff;
}

.Validation_Content p{
font-family: 'Roboto', sans-serif;
text-transform: capitalize;
color: #fff;
}

</style>

    <div class="Wrapper">

        <div class="Back">
            <a href="{% url 'blogApp:Settings_Page' %}">
               <i class="fa fa-long-arrow-left"></i>
            </a>
      </div>

      

    <div class="Form_Wrapper">
    
        <h1>Change Your Password</h1>  
        {% for field in form %}
          {% if field.errors %}
                <div class="Error_Wrapper Disappear">
                  {{field.errors}}
                  <i class="fa fa-close Close"></i>
                </div>
          {% endif %}
        {% endfor %}

        <form action="." method="POST" class="SubmitListener">
            {% csrf_token %}
            <div class="pwd_flex">
              {{form.old_password}}
              <button class="Show_Password password-toggle-button"  type="button"><i  class="fa fa fa-eye"></i></button>
            </div>

    
            <div class="pwd_flex">
              {{form.new_password1}}
              <button class="Show_Password password-toggle-button"  type="button"><i  class="fa fa fa-eye"></i></button>
            </div>

            <div class="Password_Validation">

              <div class="Password_Ban">
                <div class="Ban_Content">
                    <i  class="fa fa-ban"></i>
                    <p> password must not be similar to your personal information</p>
                </div>
                <div class="Ban_Content">
                    <i  class="fa fa-ban"></i>
                    <p>  password can not be a commonly used password</p>
                </div>
              </div>
      
                <div class="Validation_Content">
                  <i  id="length" class="fa fa-dot-circle-o"></i>
                  <p> Your password must contain at least 8 characters.</p>
                </div>
            
                <div class="Validation_Content">
                  <i id="upper" class="fa fa-dot-circle-o"></i>
                  <p> Your password must at least contain an uppercase Character.</p>
                </div>
              
                <div class="Validation_Content">
                 <i id="lower" class="fa fa-dot-circle-o"></i>
                  <p> Your password must at least contain an lowercase Character.</p>
                </div>
      
                <div class="Validation_Content">
                  <i id="special" class="fa fa-dot-circle-o"></i>
                  <p> Your password must at least contain a Special Character</p>
                </div>
      
                <div class="Validation_Content">
                  <i id="number" class="fa fa-dot-circle-o"></i>
                  <p> Your password must at least contain one number</p>
                </div>
      
                <div class="Validation_Content">
                  <i  id="entirelyNumeric" class="fa fa-dot-circle-o"></i>
                  <p> Your password must not  be entirely numeric.</p>
                </div>
      
            </div>
            
            <div class="pwd_flex">
              {{form.new_password2}}
              <button class="Show_Password password-toggle-button"  type="button"><i  class="fa fa fa-eye"></i></button>
            </div>
            
          <button class="btn" type="submit">Change Password</button>
                  
          </form>

    </div>
  
    </div>




    <script>
  
        document.addEventListener('DOMContentLoaded', function () {
        const passwordToggleButtons = document.querySelectorAll('.password-toggle-button');
      
        passwordToggleButtons.forEach(function (button) {
        const passwordField = button.previousElementSibling;
        // Get the password field associated with the toggle button
      
        button.addEventListener('click', function () {
          if (passwordField.type === 'password') {
            passwordField.type = 'text';
            button.innerHTML = '<i class="fa fa-eye-slash"></i>'
          } else {
            passwordField.type = 'password';
            button.innerHTML = '<i class="fa fa-eye"></i>'
          }
          });
          });
          });
    </script>

<script>
  const chkLength = document.getElementById('length')
  const lowerCase = document.getElementById('lower')
  const upperCase = document.getElementById('upper') 
  const chkNumber = document.getElementById('number')
  const chkSpecial = document.getElementById('special')
  const chkentirelyNumeric = document.getElementById('entirelyNumeric')
  const toggleWarapper = document.querySelector('.Password_Validation')

  function checkPassword(data){
     const lower = new RegExp('(?=.*[a-z])')
     const upper = new RegExp('(?=.*[A-Z])')
     const number = new RegExp('(?=.*[0-9])')
     const entirelyNumeric = new RegExp('^(?=.*[a-zA-Z])(?=.*[0-9]).+$')
     const special = new RegExp('(?=.*[!@#\$%\^&\*])')
     const length = new RegExp('(?=.{8,})')

     // Checks if the lower case condition is met and apply chnages to the instruction
     if(lower.test(data)){
       lowerCase.classList.remove('fa-dot-circle-o');
       lowerCase.classList.add('fa-check-square', 'Marked');
       lowerCase.style.color = '#02fc24'
     }else{
       lowerCase.classList.remove('fa-check-square');
       lowerCase.classList.add('fa-dot-circle-o');
       lowerCase.style.color = '#ee0707'
     }

      // Checks if the lower case condition is met and apply chnages to the instruction
     if(upper.test(data)){
       upperCase.classList.remove('fa-dot-circle-o');
       upperCase.classList.add('fa-check-square', 'Marked');
       upperCase.style.color = '#02fc24'
     }else{
       upperCase.classList.remove('fa-check-square');
       upperCase.classList.add('fa-dot-circle-o');
       upperCase.style.color = '#ee0707'
     }

      // Checks if the number case condition is met and apply chnages to the instruction
      if(number.test(data)){
       chkNumber.classList.remove('fa-dot-circle-o');
       chkNumber.classList.add('fa-check-square', 'Marked');
       chkNumber.style.color = '#02fc24'
     }else{
       chkNumber.classList.remove('fa-check-square');
       chkNumber.classList.add('fa-dot-circle-o');
       chkNumber.style.color = '#ee0707'
     }

      // Checks if the Special case condition is met and apply chnages to the instruction
      if(special.test(data)){
       chkSpecial.classList.remove('fa-dot-circle-o');
       chkSpecial.classList.add('fa-check-square', 'Marked');
       chkSpecial.style.color = '#02fc24'
     }else{
       chkSpecial.classList.remove('fa-check-square');
       chkSpecial.classList.add('fa-dot-circle-o');
       chkSpecial.style.color = '#ee0707'
     }

      // Checks if the Length case condition is met and apply chnages to the instruction
      if(length.test(data)){
       chkLength.classList.remove('fa-dot-circle-o');
       chkLength.classList.add('fa-check-square', 'Marked');
       chkLength.style.color = '#02fc24'
     }else{
       chkLength.classList.remove('fa-check-square');
       chkLength.classList.add('fa-dot-circle-o');
       chkLength.style.color = '#ee0707'
     }

      // Checks if the EntirelyNumeric case condition is met and apply chnages to the instruction
      if(entirelyNumeric.test(data)){
       chkentirelyNumeric.classList.remove('fa-dot-circle-o');
       chkentirelyNumeric.classList.add('fa-check-square', 'Marked');
       chkentirelyNumeric.style.color = '#02fc24'
     }else{
       chkentirelyNumeric.classList.remove('fa-check-square');
       chkentirelyNumeric.classList.add('fa-dot-circle-o');
       chkentirelyNumeric.style.color = '#ee0707'
     }

     if(lower.test(data) && upper.test(data) && number.test(data) && special.test(data) && length.test(data)){
       toggleWarapper.style.display = 'none'
     }else{
       toggleWarapper.style.display = 'flex'
   }
  }



  function hideFlashMessages() {
    const flashMessages = document.querySelectorAll('.Msg');
    flashMessages.forEach((message) => {
        setTimeout(() => {
            message.style.display = 'none';
        }, 3000); 
    });
}

document.addEventListener('DOMContentLoaded', function() {
    hideFlashMessages();
});

</script>

{% endblock %}

