{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %} Info Hub {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/Main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script> -->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body class="RemoveNav">
        <div class="wrapper">
            <nav>
                <h2>Info Hub</h2>

                    <ul>
                        <li><a href="{% url 'blogApp:Home_Page' %}">Home</a></li>
                        <li><a href="#" class="OpenCategoryList">Category</a></li>
                        <li><a href="#">Search</a></li>
                    </ul>

                    <img src="{{user.profile.image.url}}" alt="Default-Image"  class="MoreLink" >

                    <div class="Category-option CategoryList">
                        <div class="Category-Option-List">

                            {% for Category_List_Item in Category_List_Options %}
                                <li>
                                    <a href="/Category/{{Category_List_Item.name}}">{{Category_List_Item.name}}</a>
                                    <i class="fa fa-angle-right"></i>
                                </li>
                            {% endfor %}

                            
                        </div>
                     </div>


                    <div class="Sub-Profile-Wrap SideProfile">
                            <div class="Sub-Profile">
                               <div class="User-Info">
                                <!-- Image size 256 × 256 px -->
                                <img src="{{user.profile.image.url}}" alt="Default-Image">
                                    <div class="Users">
                                        <h3>{{user.first_name}} &nbsp;{{user.last_name}}</h3>
                                        <h5>{{user.username}}</h5>
                                        <p>{{user.email}}</p>
                                    </div>
                               </div>
                               <hr>
 
                               <div id="ResNav" class="User-Info-Options">

                                <a href="{% url 'blogApp:Home_Page' %}" class="Sub-Menu-Links">
                                    <i class="fa fa-home"></i>
                                    <p>Home</p>
                                    <span><i class="fa fa-angle-right"></i></span>
                                </a>

                                <a href="#" class="Sub-Menu-Links">
                                    <i class="fa fa-database"></i>
                                    <p class="OpenCategoryList2">category</p>
                                    <span><i class="fa fa-angle-down"></i></span>
                                </a>

                                  <div class="RevOpts CategoryList2">
                                    <div class="Category-Option-List">
                 
                                     {% for Category_List_Item in Category_List_Options %}
                                        <li>
                                            <a href="/Category/{{Category_List_Item.name}}">{{Category_List_Item.name}}</a>
                                            <i class="fa fa-angle-right"></i>
                                        </li>
                                    {% endfor %}

                                   </div>
           
                                  </div>
                                 
                                
                                <hr>

                            </div>
                              

                                <div class="User-Info-Options">

                                    <a href="#" class="Sub-Menu-Links">
                                        <i class="fa fa-heart"></i>
                                        <p>Bookmark</p> 
                                        <span><i class="fa fa-angle-right"></i></span>
                                    </a>

                                    <a href="{% url 'blogApp:Settings_Page' %}" class="Sub-Menu-Links">
                                        <i class="fa fa-cogs"></i>
                                        <p>Settings</p>
                                        <span><i class="fa fa-angle-right"></i></span>
                                    </a>

                                           
                                     {% if user.is_authenticated %} 
                                    <a href="{% url 'Logout_Page' %}" class="Sub-Menu-Links">
                                        <i class="fa fa-mail-reply-all"></i>
                                        <p>Logout</p>
                                        <span><i class="fa fa-angle-right"></i></span>
                                    </a>
                                    {% endif %}
                                </div>
                            </div>
                    </div>

            </nav>


            
            {% block templates %}
            {% endblock %}

            <!-- <div class="Footer">

                <div class="Footer-Wrapper">
            
                    <div class="Footer-Top-Content">
                        <a href="#">About Us</a>
                        <a href="#">Contact Us</a>
                        <a href="#">Terms</a>
                        <a href="#">Privacy Policy</a>
                        <a href="#">Disclaimer</a>
                    </div>
            
                    <div class="Footer-Bottom-Content">
                        <p>...Blog designed and developed by <span>Xhicko</span></p>
                    </div>
                </div>
            
            </div>  -->

        </div>

    <script src="{% static 'js/Index.js' %}"></script>

</body>
</html>



