{% extends "blogApp/Base.html" %}
    {% block title %} {{Category_List.Category}}  Category Page {% endblock %}
    {% load static %}
        {% block templates %} 
                      
                <div class="wrapper">

                    <div class="Updates">
                        <h1>All Posts on  {{Category_List.Category}}</h1>
                    </div>

                    <div class="Grid">
                        {% for Categories_Post in Category_List.Category_Post %}
                        <div class="Grid-Item">
                            <div class="Card">
                                <img  src="{{Categories_Post.Image.url}}" alt="{{Categories_Post.Category_Tag}}">
                                    <a href="{{Categories_Post.get_absolute_url}}"><p>{{ Categories_Post.Title|truncatechars:65}}</p></a>
                                    <!-- {{ Blog_Post.Title|truncatechars:27}} -->
                                    <div class="Card-Footer ">
                                            <p>By {{Categories_Post.Category_Tag }}</p>
                                            <p>By {{Categories_Post.Last_Name }}</p>
                                    </div>
                            
                                    <div class="Reactions">
            
                                        <div class="item Likes">
                                            <i  class="fa fa-heart"></i>
                                            <p>{{Categories_Post.likes_count}}</p>
                                        </div>
            
                                        <div class="item Favourites">
                                            <i  class="fa fa-bookmark"></i>
                                            <p>{{Categories_Post.bookmark_count}}</p>
                                        </div>
            
                                
                                        <div class="item Comments">
                                            <i  class="fa fa-comment"></i>
                                            
                                            <p>{{Categories_Post.num_comments}}</p>
                                        </div>
            
                                    </div>
                            </div>
            
                        </div>
                        {% endfor %}
            
                    </div>

                
                </div>
        {% endblock %}


   

