{% extends "blogApp/Base.html" %}
{% block title %} Profile Page{% endblock %}
{% load static %}
{% block templates %}

    <div class="Profile_Wrapper">

      <div class="Back">
            <a href="{% url 'blogApp:Settings_Page' %}">
               <i class="fa fa-long-arrow-left"></i>
            </a>
      </div>
            <h1>Profile Page </h1>

            <div class="Profile">
               <img src="{{user.profile.image.url}}" alt="profile_image">

               <div class="Profile_Tag">
                  <div class="Profile_Label">
                     <P>User Name </P>
                     <p>First Name</p>
                     <p>Last Name </p>
                     <p>E mail</p>
                     <p>Age</p>
                     <p>Date Joined</p>
                     <p>Time Joined</p>
                  </div>

                  <div class="Profile_Detail">
                    <p> {{user.username}} </p>
                    <p>{{user.first_name}}</p>
                    <p>{{user.last_name}}</p>
                    <p>{{user.email}}</p>
                    <p>{{user.profile.age}}</p>
                    <p>{{ user.date_joined|date:"F j, Y" }}</p>
                    <p>{{user.date_joined|time:"g:i A"}}</p> 
                  </div>
                
               </div>
            </div>
    
    </div>

{% endblock %}

