{% extends "blogApp/Base.html" %}
{% load static %}
    {% block title %} Settings Page{% endblock %}
        {% block templates %} 

         <div class="Settings_Wrapper">
            <h1>Settings Page</h1>

            <div class="Settings_Content">

                <div class="Content_Info">
                        <a href="{% url 'blogApp:Profile_Page' %}"> Profile </a>
                        <i class="fa fa-address-card"></i>
                </div>

                <div class="Content_Info">
                        <a href="{% url 'blogApp:UpdateProfile_Page' %}"> Update Profile </a>
                        <i class="fa fa fa-edit"></i>
                </div>

                <div class="Content_Info">
                    <a href="{% url 'Password_Change_Page' %}"> Change password  </a>
                    <i class="fa fa-eye"></i>
                </div>

                <div class="Content_Info">
                    <a href="{% url 'Delete_Page' %}"> Delete Account </a>
                    <i class="fa fa-close"></i>
                </div>

            </div>
         </div>
    




        {% endblock %}