    {% extends "blogApp/Base.html" %}
        {% load static %}
        {% block templates %} 


<style>

.wrapper{
    margin: 5.5em 0;
}


#popup-message{
    display: none;
    justify-content: center;
    align-items: center;
    padding:.9em .5em;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    background-color: #02fc237f;
    color: #000;
    border-radius: .2em ;
    width: 30%;
    position: fixed;
    top: 10%;
    right: 1%;
    text-transform: capitalize;
    transition: .5s ease-in-out;
}

</style>

    <div class="Post_View">

        <div class="Full_Post_Wrapper">

            <div id="popup-message">
               Link Copied Successfully 
            </div>

             {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'success' %}
                    <div class="SuccessMessages Disappear">
                        <p>{{ message }}</p>
                        <i class="fa fa-close Close"></i>
                    </div> 
                {% endif %}
             {% endfor %}
           {% endif %}
           
            <div class="Main_Post_Wrapper">

           
    
                <div class="Main_Post_Details">
                    <div class="Main_Post_Details_Header">
                        <h1>{{S_post.First_Name}} &nbsp; {{S_post.Last_Name}}</h1>
                        <h1>{{S_post.Publish}}</h1>
                    </div>
            
                    <img  class="Main_Post_Details_Image" src="{{S_post.Image.url}}" alt="{{S_post.Category_Tag}}">
            
                    <div class="Main_Post_Details_Content">
                        <h1>{{S_post.Title}}</h1>
                        <p>{{S_post.Content}}</p>
                    </div>
            
                    <div class="Main_Post_Details_Meta_Info">
                        <div class="Reaction_Info">
                            <div class="Item_Info">
                                <span id="likes_check">{{S_post.likes_count}}</span>
                                <p>likes</p>
                            </div>
                            <div class="Item_Info">
                                <span>{{S_post.bookmark_count}}</span>
                                <p>Bookmarks</p>
                            </div>
                    
                           
                            <div class="Item_Info">
                                {% with Comment.count as total_comments %}
                                <span>{{total_comments}}</span>
                                {% endwith %}
                                <p>Comment</p>
                            </div>
                        </div>
                        <hr>
                        <div class="Reactions">
                            <div class="item Favourites">
                                <a href="{% url 'blogApp:Bookmark_Page' S_post.id %}"><i  class="fa fa-bookmark"></i></a>
                                <p>{{S_post.bookmark_count}}</p>
                            </div>
                    
                            <div class="item Likes">
                    
                                {% if post.liked %}
                                <i id="likes_button" data-postid="{{S_post.id}}" class="fa fa-heart liked "></i>
                                {% else %}
                                <i id="likes_button" data-postid="{{S_post.id}}" class="fa fa-heart "></i>
                                {% endif %}
                    
                                <p id="likes_count">{{S_post.likes_count}}</p>
                            </div>
                    
                            
                            <div class="item Comment">
                                <i  class="fa fa-comment"></i>
                                {% with Comment.count as total_comments %}
                                    <p>{{total_comments}}</p>
                                {% endwith %}
                            </div>
                    
                            <div class="item Share">
                                <i  class="fa fa-share-alt" onclick="copyToClipboard()"></i>
                            </div>
                    
                        </div>
                    </div>
    
                    <div class="Main_Post_Details_Footer">
                        <p>{{S_post.Email}}</p>
                        <a href="{% url 'blogApp:Home_Page' %}">Back</a>
                    </div>
                </div>
    
            </div>
    
            <div class="Make_Comment">      
                <h1>Make a new comment</h1>
                <form  id="Comment_Form" method="post">
                    {{comment_form.Name}}
                    {{comment_form.Email}}
                    {{comment_form.Comment}}
                    {% csrf_token %}
                    <button class="btn" type="submit">submit</button>
                </form>
            </div>
    
         
            {% if Comment %}
            <div class="Comment_Posted">
                <h1>Latest Comments</h1>
                {% for UserComment in page %}
                        <div class="Comment_Wrapper">     
                            <div class="Comment_Posted_Info">
                                <h3> comment by  &nbsp; {{UserComment.Name}}</h3>
                                <h3>{{UserComment.Publish}}</h3>
                        </div>
                        <p>{{UserComment.Comment|truncatechars:270}}</p>
                        </div>
                   
                {% endfor %}
            </div>
            {% else %}
                <div class="No_Comment_Available">
                    <p>No comments available</p>
                </div>
            {% endif %}

            
            {% if page %}
            <div class="pagination">
    
        
                <div class="Page_Left Ltn">
            
                    {% if page.has_previous %}
            
                        <div  class="Page_Btn">
                        <a href="?page={{ page.previous_page_number }}">Previous</a>
            
                        </div>
            
                    {% else %}
            
                        <div class="Page_Btn Disabled">
                            Previous
                        </div>
            
                    {% endif %}
            
                </div>
            
            
                <div class="Page_Center">
                    {% for num in page.paginator.page_range %}
                        {% if page.number == num %}
            
                            <div class="Current_Page">
                                {{ num }}
                            </div>
                            
                        {% else %}
            
                            <div class="Page_Num">
                            {{ num }}
                            </div>
            
                        {% endif %}
                    {% endfor %}
                </div>
            
            
                <div class="Page_Right Ltn">
            
                {% if page.has_next %}
                    <div class="Page_Btn">
                    <a href="?page={{ page.next_page_number }}">Next</a>
                    </div>
            
                {% else %}
            
                <div class="Page_Btn Disabled">
                    Next
                </div>
            
                {% endif %}
                </div>
            
            </div> 
            {% endif %}
    

       </div>
    
       <div class="Side_Post_Wrapper">
        {% if O_post %}
                <h1>Other Posts</h1>
                {% for Side_Post_Content in O_post %}
                    <div class="Side_Post_Content">

                        <div class="Side_Post_Content_Top">
                            <img src="{{Side_Post_Content.Image.url}}" alt="{{Side_Post_Content.Category_Tag}}">
                        </div>

                        <div class="Side_Post_Content_Middle">
                            <a href="{{Side_Post_Content.get_absolute_url}}">
                               <p> {{ Side_Post_Content.Title|truncatechars:35 }}</p>
                            </a>
                        </div>

                        <div class="Side_Post_Content_Footer">
                            <div class="SPC_Footer_Top">
                                <h3>{{Side_Post_Content.Category_Tag}}</h3>
                                <h3>By {{Side_Post_Content.Last_Name }}</h3>
                            </div>

                            <div class="SPC_Footer_Bottom">

                                <div class="Side_Post_Reaction_item SPRI_Likes">
                                    <i  class="fa fa-heart"></i>
                                    <p>{{Side_Post_Content.likes_count}}</p>
                                </div>

                                 <div class="Side_Post_Reaction_item  SPRI_Favourites">
                                    <i  class="fa fa-bookmark"></i>
                                    <p>0</p>
                                </div>

                           
                                <div class="Side_Post_Reaction_item  SPRI_Comments">
                                    <i  class="fa fa-comment"></i>
                                    
                                    <p>{{Side_Post_Content.num_comments}}</p>
                                </div>

                            </div>
                        </div>
            

                    </div>


                {% endfor %}

        {% endif %}
       </div>

    </div>


<script>

function hideFlashMessages() {
    const flashMessages = document.querySelectorAll('.SuccessMessages');
    flashMessages.forEach((message) => {
        setTimeout(() => {
            message.style.display = 'none';
        }, 3000); 
    });
}

document.addEventListener('DOMContentLoaded', function() {
    hideFlashMessages();
});

$(document).ready(function() {
    var postId = $('#likes_button').data('postid');
    var csrfToken = $('input[name=csrfmiddlewaretoken]').val();

    // Check if the liked status is stored in the session
    var liked = sessionStorage.getItem('liked_' + postId);
    if (liked === 'true') {
        $('#likes_button').addClass('liked');
    }

    // Bind click event to update like status
    $(document).on('click', '#likes_button', function(e) {
        e.preventDefault();
        var icon = $(this);

        // Send AJAX request to update the like status
        $.ajax({
            type: 'POST',
            url: '/likes/',
            data: {
                postid: postId,
                action: 'post',
                csrfmiddlewaretoken: csrfToken
            },
            success: function(json) {
                document.getElementById('likes_check').innerHTML = json['result']
                // document.getElementById('likes_count').innerHTML = json['result']
                var result = json['result'];
                var liked = json['liked'];

                // Update the likes count
                $('#likes_count').text(result);

                // Store the updated like status in the session 
                sessionStorage.setItem('liked_' + postId, liked);

                // Apply or remove the 'liked' class based on the updated like status
                if (liked) {
                    icon.addClass('liked');
                } else {
                    icon.removeClass('liked');
                }
            },
            error: function(xhr, errmsg, err) {
                console.log(err);
            }
        });
    });
});


</script>


<script>
    function copyToClipboard(){
        const url = window.location.href;
        navigator.clipboard.writeText(url)

        .then(() => {
            const popup = document.getElementById('popup-message');
            popup.style.display = 'flex';
            setTimeout(() => {
            popup.style.display = 'none';
            }, 2000); // Hide the message after 2 seconds
    })
    .catch((err) => {
      // Error occurred while copying
      console.error('Failed to copy URL: ', err);
    });

    }
   
</script>


    {% endblock %}


    

    