{% extends "blogApp/Base.html" %}
{% load static %}
{% block title %} Profile Update Page{% endblock %}
{% block templates %}

<style>


    /* font-family: 'Anton', sans-serif;..other heading
  font-family: 'Oswald', sans-serif;.....logo
  font-family: 'Roboto', sans-serif;....Paragraphs
  font-family: 'Teko', sans-serif;....Headings */

  @import url('https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@700&family=Roboto:wght@300&family=Teko:wght@700&display=swap');

            
:root{
--FS-Paragraph-xm: .5rem;
--FS-Paragraph-md: .6rem;
--FS-Paragraph-md2: .7rem;
--FS-Paragraph-bg: .8rem;
--FS-Paragraph-bg2: .9rem;
--FS-Heading-xm: .5rem;
--FS-Heading-md: .6rem;
--FS-Heading-bg: .7rem;
--FS-Heading-md2: .8rem;
--FS-Heading-bg2: .9rem;
--FS-Paragraph: 1rem;
--FS-Paragraph2: 1.1rem;
--FS-Paragraph3: 1.2rem;
--FS-Paragraph4: 1.3rem;
--FS-Heading1:clamp(.4rem,  1rem, 1.5rem);
--FS-Small-Heading:1.1rem;
--FS-Small-Heading2:1.2rem;
--FS-Small-Heading3:1.3rem;
--FS-Small-Heading4:1.4rem;
--FS-Heading2: 1.5rem;
--FS-Heading3: 1.7rem;
--FS-Heading4: 2rem;
--FS-Heading5: 2.5rem;
}


form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textarea{
  margin: .5em 0;
  padding: .5em .7em;
  width: 100%;
  border-radius: .2em ;
  font-family: 'Roboto', sans-serif;
  border: 1px solid  #000;
}

    .textarea:focus{
  outline: none;
 }

.input{
  width: 100%;
  padding: .75em .6em;
  margin: .4em 0;
  text-transform: capitalize;
  background-color: #fff;
  border: .01em solid #000;
  /* border-radius: .2em ; */
  font-weight: 900;
  font-family: 'Teko', sans-serif;
  font-size: var(--FS-Heading1);
}

 input:focus{
  outline: none;
 }

::placeholder{
  color: #000;
  font-family: 'Teko', sans-serif;
  font-size:var(--FS-Paragraph); 
}

.image_input{
    border: 1px solid #fff;
    color: #fff;
    margin: .4em 0;
    width: 100%;
}

::-webkit-file-upload-button{
    background-color: #fff;
    color: #000;
    border: none;
    padding: 1em;
    font-weight: 700;
    font-family: 'Josefin sans', sans-serif;
    text-transform: capitalize;
    cursor: pointer;
}

::-webkit-file-upload-button:hover{
    background-color: #0a0a0ae5;
}

 .btn{
  width: 30%;
  padding: .5em .5em;
  margin: .4em 0;
  font-size:var(--FS-Paragraph3);
  font-weight: 900;
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif;
  border: .01em solid #000;
  border-radius: .1em ;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  transition:  .5s ease-in-out;
}

 .btn:hover{
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}



</style>

    <div class="Update_Profile_Wrapper">

      <div class="Back">
        <a href="{% url 'blogApp:Settings_Page' %}">
           <i class="fa fa-long-arrow-left"></i>
        </a>
     </div>

        {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <div class="SuccessMessages Msg Disappear">
                    <p>{{ message }}</p>
                    <i class="fa fa-close Close"></i>
                </div> 
            {% endif %}
        {% endfor %}
      {% endif %}
      

        {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'warning' %}
                <div class="WarningMessages Msg Disappear">
                    <p>{{ message }}</p>
                </div> 
            {% endif %}
        {% endfor %}
      {% endif %}

            <h1> Profile Update</h1>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
              <div class="Form_Wrapper">
                    {{UserProfileUpdate.username}}
                    {{UserProfileUpdate.first_name}}
                    {{UserProfileUpdate.last_name}}
                    {{UserProfileUpdate.email}}
                    {{ProfileUpdate.age}}
                    {{ProfileUpdate.image}}
      
              </div>
                <button class="btn" type="submit">Update</button>
            </form>

    </div>


<script>

function hideFlashMessages() {
    const flashMessages = document.querySelectorAll('.Msg');
    flashMessages.forEach((message) => {
        setTimeout(() => {
            message.style.display = 'none';
        }, 3000); 
    });
}

document.addEventListener('DOMContentLoaded', function() {
    hideFlashMessages();
});

</script>    

{% endblock %}


